@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Niconne&family=Open+Sans&family=Poppins&display=swap');

body {
    width: 99%;
    height: 95vh;
    background-image: url("./stars-g64cef3ecf_1920.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    color: #CED8E0;
}

body .logtext{
    margin: 0 auto;
    position: fixed;
    left: 20%;
    font-size: 10vh;
    color:white;
    overflow: hidden;
    white-space: nowrap;
    animation:
        text-appear 0.7s steps(40,end),
        blink-caret .15s step-end infinite;
    animation-timing-function: ease;
    transform: translate(calc(-5% + 20px * var(--x)), calc(-5% + 20px * var(--y)));
    transition-delay: 1ms;
}


@keyframes text-appear {
    from {width: 0;}
    to {width: 30%;}
}



.loginf{
    position:fixed;
    top: 50px;
    left: 50px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    flex-direction: row;
    position:fixed;
    top: -5px;
    right: 120px;
    font-size: 30px;
    width: 200px;
}

.luna {
    position:fixed;
    top: 20px;
    right: 50px;
}
#main {
    width: 90%;
    height: 90%;
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
}

#leftTab {
    width: 25%;
    height: 90%;
    float: left;
    color: #CED8E0;
}

#fInputTitle, #createPlaylistTitle, #playlistSelectionTitle {
    height: 10%;
    border: 1px solid #60017B;
    color: #CED8E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f2, #f1 {
    color: #CED8E0;
}



.fl{
    font-size: 3vh;
    color:white;
    font-weight: normal;
    border: 5px solid #60017B;
    padding: 5vh;
    border-radius: 4%;
    position: fixed;
    right: 20%;
    transition: border 0.3s; 
    border: 0 solid transparent;
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
}

.fl:hover {
    border: 2px solid #60017B; 
}

#fInput, #createPlaylist {
    height: 39.7%;
    display: flex;
    border: 1px solid #60017B;
    border-top: none;
    border-bottom: none;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

#rightTab {
    width: 25%;
    height: 90%;
    float: right;
    color: #CED8E0;
}

#playlistSelection {
    height: 82%;
    border-bottom: none;
    overflow-y: auto;
}

#middleTab {
    width: 49.87%;
    height: 90%;
    float: inline-start;
    color: #CED8E0;
}

#top {
    height: 10%;
    width: 100.2%;
    color: #CED8E0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #60017B;
    border-left: none;
    border-right: none;
}

#homeContainer, #accountContainer, #searchContainer {
    height: 100%;
    width: 33.3333333333333%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #CED8E0;
    transition: background-color 0.3s, font-weight 0.3s;
}

#homeContainer:hover, #searchContainer:hover, #accountContainer:hover {
    background-color: #60017B;
    font-weight: bold;
    -webkit-text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5); 
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

#homeContainer {
    border-left: none;
    border-right: none;
}

#searchContainer {
    border-left: none;
    border-right: none;
}

#accountContainer {
    border-right: none;
}

#displayPlaylistName {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.songsContainer {
    height: 15%;
    width: 100.2%;
    color: #CED8E0;
    border-right: none;
    border-left: none;
}

.displaySongs {
    width: 100.3%;
    height: 89.6%;
    overflow-y: auto;
    overflow-x: hidden;
}

.songTable {
    width: 100%;
    height: 89.6%;
    border-collapse: collapse;
    overflow-y: auto;
}

#songDisplayContainer {
    height: 89.6%;
    overflow-y: auto;
    overflow-x: hidden;
}

#userSongTable {
    height: 40.5vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.userTable {
    width: 100.3%;
    border-collapse: collapse;
}

.userTable th {
    border: 1px solid #60017B;
    border-left: none;
    border-right: none;
    padding: 8px;
    text-align: left;   
    color: #CED8E0;
}

.userTable td {
    border: 1px solid #60017B;
    padding: 8px;
}

.songTable th, .songTable td {
    border: 1px solid #60017B;
    border-left: none;
    border-right: none;
    padding: 8px;
    text-align: left;
    color: #CED8E0;
}

.playlistQueryTable {
    width: 100.3%;
    border-collapse: collapse;
}
.playlistQueryTable td {
    border: 1px solid #60017B;
    border-right: none;
    border-left: none;
    padding: 8px;
    text-decoration: none;
}
.playlistQueryTable th {
    border: 1px solid #60017B;
    border-left: none;
    border-right: none;
    padding: 8px;
    text-align: left;   
    color: #CED8E0;
}

.s1 {
    transition: background-color, 0.19s;
}
.s1:hover {
    background-color: #60017B;
}


input[type="range"] {
    margin-right: 30px;
}

#pauseBtn {
    margin-right: 5px;
}

#time {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

#bottomTab {
    clear: both;
    height: 10%;
    width: auto;
    border: 1px solid #60017B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

#btnContainer {
    margin: 7%;
    display: flex;
    background: rgba( 249, 79, 230, 0.8 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.5px );
-webkit-backdrop-filter: blur( 9.5px );
border-radius: 20px;
}


.songBtn {
    width: 35px;
    height: 35px;

}

#songImage {
    width: 56px; 
    height: 56px;
    margin-right: 10px;
}

#songImageContainer {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%; 
    height: 100%;
}

#volSlider {
    width: 3px;
}

#vol {
    transform: translateX(-50%);
    transform: rotate(-90deg);
    transform-origin: left 0;
    visibility: hidden;
}

#volIcon {
    margin: 50%;
    width: 50px;
    height: 30px;
}

#volIcon:hover #vol{
    visibility: visible;
    width: 400vh;
}


#volume {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}


#seekSlider {

    -webkit-appearance: none;
    width: 70vh;
    height: 10px;
    background-color: rgb(24, 9, 92);
    border-radius: 5px;
}



#seekSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
}

#seekSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
}

.pName {
    margin-top: 5vh;
    text-align: center;
    font-size: 40px;
    height: 10vh;
}

.playlistTable {
    width: 100%;
    border-collapse: collapse;

}


.playlistTable th, .playlistTable td {
    width: 100%;
    border-collapse: collapse;
    color: #CED8E0;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #60017B;
    
}

.options {
    padding: 500px;
    margin: 500px;
    text-align: right;
}

.click {
    text-decoration: none;
    color: #CED8E0;
}

.type {
    display: flex;
    flex-direction: row;
}

.Help {
    display: inline-block;
    font-size: 12px;
    position: relative;
}

.questionMark {
    display: inline-block;
    font-size: 12px;
    position: relative;
}

#like {
    position: absolute;
    left: 92vh;
    top: 13vh;
}

.helpText {
    width: 0;
    transition: width 0.4s;
    visibility: hidden;
    text-align: center;
    position: fixed;
    z-index: 1;
    background-color: #0D1B27;
    overflow: hidden;
}

.helpText2 {
    width: 0;
    transition: width 0.4s;
    visibility: hidden;
    text-align: center;
    position: absolute;
    z-index: 1;
    background-color: #0D1B27;
    overflow: hidden; 
}

.Help:hover .helpText {
    width: 16vh;
    visibility: visible;

}

.songNameInTable {
    width:10vh;
}

.Help:hover .helpText2 {
    width: 19vh;
    visibility: visible;
}

.questionMark:hover .helpText {
    width: 19vh;
    visibility: visible;
}

.userPlaylists {
    border: 1px solid #60017B;  
    height: 6vh;
    border-top: none;
    color: #CED8E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#liked {
    border: 1px solid #60017B;  
    height: 4vh;
    width: auto;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #CED8E0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ERR {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CED8E0;
    border-left: 1px solid #333;
}

#localTitle {
    width: 70%;
}

.localTitle {
    text-decoration: none;
    border: none;
    background-color: #17202A;
    color: #CED8E0;
}
button{ 
    color:#000000; 
    font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
    background-color:#a008bf;
    border: #7908bf;
    border-radius: 7px;
} 

.send {
    display: block;
    width: 35vh;
    height: 7vh;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    background-color:#a008bf;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color:white;
    transition: background-color 0.5s;
}

.send:hover {
    background-color: #1d1864;
}

.button{ 
    display: block;
    width: 200px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    background-color:#a008bf;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color:white;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: #1d1864;
}

#playBtn{
  margin-right: 1px;
  margin-left: 5px;
}

#sortButton{
  margin-left: 5px;
}

input, textarea {
  background-color: #000000;
  color: skyblue;
}

#displayUserName {
    width: 50%;
    border-bottom: 1px solid #60017B;
}

#displayContainer {
    display: flex;
    flex-direction: row;
    width: 100.3%;
}

#displayChoice {
    width: 50%;
    border-bottom: 1px solid #60017B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#accusername {
    font-size: 50px;
    margin: 0 20px 0 0; 
}

#userPublicPlaylists {
    border: 1px solid #60017B;
    border-top: none;
    border-bottom: none;
    width: 100%;
    border-left: none;
    border-right: none;
}

.publicPlaylist {
    border: 1px solid #60017B;
    width: 100%;
    height: 5vh;
}

.publicPlaylist:hover {
    background-color: #60017B;
}

#userUploadedSongs {
    border: 1px solid #60017B;
    border-top: none;
    border-bottom: none;
    width: 50%;
    border-left: none;
}

#displayTables {
    height: 60%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
}   

#userPublicPlaylists {
    height: 100px;
}

#songsTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 12%;
    font-size: 40px;
    margin: 30px;
}

#currentDisplay {
    margin-left: 120px;
}

.playlistsContainer {
    height: auto;
    border: 1px solid #60017B;
    border-bottom: none;
    border-top: none;
}



.del {
    background-color: black;
    color: white;
    font-size: 50px;
    float: right;
}

.icon1 {
    display: flex;
    align-items: center;
    text-align: center;
}

.rename {
    margin-left: 1vh;
    width: 20%;
}

.loginFormInput {
    height: 4vh;
    width: 34vh;
    border-radius: 3px;
}

.loginFormInput:hover {
    border-color:#60017B;
}

.logout {
    text-decoration: none;
    color: black;
}

